In [53]:
import pandas as pd

In [43]:
df = pd.read_csv('spotify_dataset.csv', nrows=1200000, usecols=[1])
df.columns = ['artist']
df.head()

  artist
0   2:54
1   2:54
2   2:54
3   2:54
4   2:54

In [52]:
artist_df = df['artist'].unique()

In [59]:
artists = pd.DataFrame(artist_df)
artists.head(30)

        0
0    2:54
1    6:16
2   10:32
3   21:03
4       1
5       2
6       3
7       4
8       5
9       6
10      7
11      8
12      9
13     10
14     11
15     12
16     13
17     14
18     15
19     16
20     17
21     18
22     19
23     20
24     21
25     23
26     30
27     36
28     44
29     45

In [63]:
artists.to_csv('artists.csv', index=False)